/* #root{
  flex-direction: flex;
  align-items: center;
  justify-content: center;

} */

#chat_container{
  flex-direction: flex;  
  background: black;
  height: auto;
  width: auto;
}
.ql-container {
  min-height: 300px !important; /* Ensures editor height */
}

.ql-editor {
  min-height: 250px; /* Ensures text area grows */
}